# Ignore backup directories
pdaf_integration_backup_*/

# Ignore compilation outputs
compile_*.out
compile_*.err

# Ignore object files and modules
*.o
*.mod
*.a

# Ignore executables
*.x

# Ignore temporary files
*~
*.tmp
